# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# Only used for local development, in production the port is not exposed
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=3000

# Web
WEB_PORT=5173

# MinIO (local S3-compatible object storage for development)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
